@import "../../style/variables";

.button {
  border: $button-border;

  &--has-border {
    border: 1px solid black

  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--background{
    background: white;
  }
}
