.componet1{
    background-color: yellow;
    font-family: "Open Sans";
    color: #605327;
    display: flex;
    justify-content: center;
    height: 200px;
    padding: 20px 0;

    &__column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title{
        font-size: 80px;
    }
    &__subtitle{
        text-transform: uppercase;
        padding: 10px 0;
    }

    &_content{
        width: 70%;
        font-style: light;
    }
}



