.aboutUs-section {
  background-color: lightgray;
  margin-top: 350px;
  border:1px red solid;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-start;

  // background-image: url("../../images/header_start_img.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 600px;
  width: 100%;
  &__image{
    width: 50%;
  }
}
