.aboutUs-section {
  background-color: lightgray;
  margin-top: 350px;
  display: flex;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 600px;
  width: 100%;

  &__textSide{
    width: 50%;
  }

  &__image{
    height: 100%;
  }
}
