.organizations-section {
  // background-color: lightgray;
  // margin-top: 350px;
  // border:1px red solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-image: url("../../images/header_start_img.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 100%;
}
