.header {
  display: flex;

  &__list {
    display: flex;
    list-style-type: none;
    text-decoration: none;

    &__item {
      text-decoration: inherit;
      color: inherit;
    }

    & li {
      padding: 10px;
    }

    &__logg {
      justify-content: flex-end;
      list-style-type: none;
      display: flex;
      text-decoration: none;


      &--bordered {
        border: 1px solid yellow;
      }
      & li a {
        text-decoration: inherit;
        color: inherit;
        padding: 10px;
      }
    }
  }
}
