.loggedIn-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  background-image: url("../../images/header_logged_img.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;



  &__start {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    align-items: flex-end;
      width: 50%;
    height: 700px;
  }
  &__squares {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }
  &__square {
    position: relative;
    top: 50px;
    right: 150px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    transform: rotate(45deg);
    width: 100px;
    height: 100px;
    &__text {
      transform: rotate(-45deg);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__position{
        position:relative;
        bottom:10px;
        left:10px;
      }
      & p{
        position: relative;
        font-size: .9rem;
        padding: 10px;
      }
      
    }
  }
}
