.title-decoration {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 2em;
    }

    &__subtitle {
        font-size: 2em;
    }

    &__pattern {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}



